* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #8E44AE;
}

.content{
    display: none;
}
.show-content{
    display: block;
}